body
{
	margin-left:20px;
}
.bodyText
{
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
}
.branchTitle
{
	font-size: 16px;
	font-weight: bold;
}

.documentHeader
{
	padding: 20px;
	border: medium solid #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	text-align: left;
	width: 95%;
	background-color: #004080;
	color: #CCCCCC;
}
.itemTitle
{
	font-size:14px;
}
p.bold
{
	font-weight:bold;
}
p.title
{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}

a:link
{
	color: #006600;
}
a:hover
{
	color:Blue;
}
a:visited
{
	color: #006600;
}
div.content
{
	width:98%;
}
